/var/log/haproxy.log {
     daily
     rotate <%= @log_rotate %>
     maxage <%= @log_maxage %>
     missingok
     notifempty
     compress
     delaycompress
     postrotate
     invoke-rc.d rsyslog rotate >/dev/null 2>&1 || true
     endscript
}